---
layout: default
title: Puzzled Pint Twin Cities
---
<div class="container">
    <div class="row">
      <div class="column" style="margin-top: 10%">
        <img src="images/favicon.svg" class="avatar" alt="">
        <h1 role="heading">{{site.title}}</h1>
        <p>{{site.description}}</p>

        {% assign today = site.time | date:"%Y-%m-%d" %}
        {% assign upcomingEvents = site.data.events | where_exp: "event", "event.date | date:'%Y-%m-%d'>= today" %}
        {% assign upcomingEvents = upcomingEvents | sort: "date" %}
        {% if upcomingEvents.size > 0 %}
          {% assign nextEvent = upcomingEvents.first %}
          {% assign nextDate = nextEvent.date | date:"%Y-%m-%d" %}
        {% endif %}
        
        <!-- If the date is in the future, then show registration link -->
        {% if nextEvent %}
        <a class="button button-default" href='https://puzzledpint.org/events/{{ nextEvent.date | date:"%B-%Y" | downcase }}/' target="_blank" rel="noopener" role="button"><img class="icon" src="/images/icons/generic-calendar.svg" alt="Registration Link for Next Puzzled Pint">RSVP for {{ nextEvent.date | date:"%B %Y"}}</a><br>
        {% endif %}

        <!-- TODO: Need better label -->
        <a class="button button-default" href="/standings/" role=button>
          🏆 All Months Leaderboard
        </a>
        
        {% if nextDate==today %}
        <a class="button button-default" href='/standings/{{ nextEvent.date | date: "%Y-%m" }}/' role="button">🏅 Leaderboard {{nextEvent.date | date:"%B %Y"}}</a><br>
        {% endif %}

        <a class="button button-default" href='/teams/' role="button">📊 Teams</a><br>

        {% for link in site.data.links %}
        <a class="button button-{{link.button}}" href="{{link.url}}" target=_blank rel=noopener role=button>
            <img class=icon src=/images/icons/{{link.icon}}.svg alt="icon for {{link.icon}}">
            {{link.text}}
        </a><br>
        {% endfor %}

      </div>
    </div>
  </div>
